[submodule "components/DHT-sensor-library/DHT-sensor-library"]
	path = components/DHT-sensor-library/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "components/MPU9255-Arduino-Library/MPU9255-Arduino-Library"]
	path = components/MPU9255-Arduino-Library/MPU9255-Arduino-Library
	url = https://github.com/Bill2462/MPU9255-Arduino-Library.git
[submodule "components/Adafruit_Sensor/Adafruit_Sensor"]
	path = components/Adafruit_Sensor/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "components/RadioHead/RadioHead"]
	path = components/RadioHead/RadioHead
	url = https://github.com/CSI-Rockets-Eletronics/RadioHead.git
[submodule "components/Adafruit_GPS/Adafruit_GPS"]
	path = components/Adafruit_GPS/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS.git
[submodule "components/Adafruit_ADS1X15/Adafruit_ADS1X15"]
	path = components/Adafruit_ADS1X15/Adafruit_ADS1X15
	url = https://github.com/adafruit/Adafruit_ADS1X15.git
[submodule "components/Adafruit_BusIO/Adafruit_BusIO"]
	path = components/Adafruit_BusIO/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "components/Adafruit-MAX31855-library/Adafruit-MAX31855-library"]
	path = components/Adafruit-MAX31855-library/Adafruit-MAX31855-library
	url = https://github.com/adafruit/Adafruit-MAX31855-library.git
[submodule "components/Adafruit_MAX31856/Adafruit_MAX31856"]
	path = components/Adafruit_MAX31856/Adafruit_MAX31856
	url = https://github.com/adafruit/Adafruit_MAX31856
